
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<html>
  <div class="container">
  <head>
    <title>Civil Service Jobs Helper</title>
  </head>
  </div>
  <body>

    <header>
      <h1>{{title}}</h1>
    </header>
    <div class="container">
      <main>
         <body> 
        <p>{{var_test}}</p>
        <!-- button that runs function_test -->
        <form action="{{ url_for('main') }}" method="post">
          User text? <input type="text" name="user_text"><br>
          <input type="submit" value="Submit">
      </form>
        <br>
        <h2>{{main_content_title}}</h2>
        <table class="table" name="vacancy_table" style="border: 3px solid black;">
          {% for table in tables %}
          {{titles[loop.index]}}
          {{ table|safe }}
          {% endfor %}
        </table>
        
          </body>
      </main>
    </div>
    <div class="sidebar">
      <sidebar>
        <body>
        <h3>{{side_title}}</h3>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li> <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
        </ul>
        </body>
      </sidebar>  
    </div>
    <footer>
      <p>&copy; {{footer}}</p>
    </footer>
  </body>
</html>
