
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<html>
  <div class="container"
  <head>
    <title>lol</title>
  </head>
  </div>
  <body>
    <header>
      <h1>{{title}}</h1>
    </header>
    <div class="container">
      <main>
         <body> 
        <h2>{{main_content_title}}</h2>
        {% for table in tables %}
          {{titles[loop.index]}}
          {{ table|safe }}
          {% endfor %}
  
          
          </body>
      </main>
    </div>
    <div class="sidebar">
      <sidebar>
        <body>
        <h3>{{side_title}}</h3>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li> <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
        </ul>
        </body>
      </sidebar>  
    </div>
    <footer>
      <p>&copy; {{footer}}</p>
    </footer>
  </body>
</html>
